<div class="container ">
    <div class="row justify-content-center my-5">
        <button type="button" class="btn btn-outline-secondary mr-3 col-3" *ngIf='actualPage == 1;' disabled>Prev</button>
        <button type="button" class="btn btn-outline-secondary mr-3 col-3" *ngIf='actualPage != 1;' (click)='previousPage()'>Prev</button>
        <button type="button" class="btn btn-outline-success ml-3 col-3" *ngIf='actualPage == pages' disabled>Next</button>
        <button type="button" class="btn btn-outline-success ml-3 col-3" *ngIf='actualPage != pages' (click)="nextPage()">Next</button>
    </div>
</div>


<div class="gallery-container">
    <div class="gallery-item" *ngFor='let image of images; let i = index'>
        <div class="gallery-title">
            <span class="mr-2">{{image.likes}} <i class="far fa-heart"></i></span>
            <span class="mr-3">{{image.views}} <i class="far fa-eye"></i></span>
        </div>
        <div class="gallery-download">
            <a [href]="image.pageURL" target="__blank"><i class="fas fa-download mr-3"></i></a>
        </div>
        <img [src]="image.webformatURL" [alt]="image.tags" class="gallery-img" data-toggle="modal"
            (load)='setDataTarget($event, i)'>

        <!--MODAL-->
        <div class="modal fade bd-example-modal-lg" [id]="'imagen'+ i" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
                <div class="modal-content" style="max-height: 100vh;">
                    <div class="gallery-title">
                        <span class="mr-2">{{image.likes}} <i class="far fa-heart"></i></span>
                        <span class="mr-3">{{image.views}} <i class="far fa-eye"></i></span>
                    </div>
                    <div class="gallery-download">
                        <a [href]="image.pageURL" target="__blank"><i class="fas fa-download mr-3"></i></a>
                    </div>
                    <div class="close-modal ml-3" data-dismiss="modal">
                        <i class="far fa-times-circle"></i>
                    </div>
                    <img [src]="image.largeImageURL" [alt]="image.tags" style="max-height: 100vh;" class="gallery-img">
                </div>
            </div>
        </div>

    </div>
</div>

<!--Pagination-->
